<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
@*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApp</a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> 
*@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @* COMENTARIO SOBRE FLUJO DE BOTONES LI
                           Se crea una variable de sesion con nombre DondeEstoy que registra tres valores posibles:
                           Login; Registrarse; Logueado.
                           Estos valores dan cuenta, conceptualmente, de tres situaciones de interes para el funcionamiento de los botones de la barra de navegacion.
                           Notar que la variable de sesion se sobreescribe en tres metodos diferentes.

                        *@
                        @if (Context.Session.GetString("DondeEstoy") == "Login")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Registrarse">Registrarse</a>
                            </li>

                        }

                        @if (Context.Session.GetString("DondeEstoy") == "Registrarse")
                        {
                            <li>
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Login"> Volver al Inicio</a>
                            </li>

                        }
                                       
                        @if (Context.Session.GetString("DondeEstoy") == "Logueado")
                        {

                            <li class="nav-item nav-link">
                                Usuario: @Context.Session.GetString("Email")
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuario" asp-action="Logout">Logout</a>
                            </li>

                            @if (Context.Session.GetString("Rol") == "Administrador")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Administrador" asp-action="ListarMiembros">(Listar miembros | Modificar Estado)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Administrador" asp-action="ListarPosts">(Listar posts | Modificar Estado)</a>
                                </li>
                            }

                            @if (Context.Session.GetString("Rol") == "Miembro")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Miembro" asp-action="VisualizarPosts">Visualizar posts</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Miembro" asp-action="ListarMiembrosNoAmigos">Enviar Invitacion</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Miembro" asp-action="ListarInvitacionesPendientes">Ver invitaciones pendientes</a>
                                </li>                                
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Miembro" asp-action="MiembroCrearPost">Crear post</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Miembro" asp-action="BuscarContenido">Buscar Contenido</a>
                                </li>
                            }


                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
